{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Music School MS {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">

    <div class="min-h-screen flex">

        {% if request.user.is_authenticated %}
        <div class="w-64 bg-gray-100 p-4 shadow-md">
            <div class="mb-10">
                <h2 class="text-2xl font-bold text-gray-700">Coursio</h2>
            </div>
            <nav class="space-y-4">
              
                <a href="{% url 'home' %}" class="flex items-center space-x-3 text-gray-700 hover:bg-gray-200 p-2 rounded-lg">
                    <i class="icon-home"></i>
                    <span>Home</span>
                </a>
              
                <a href="{% url 'course_list' %}" class="flex items-center space-x-3 text-gray-700 hover:bg-gray-200 p-2 rounded-lg">
                    <i class="icon-courses"></i>
                    <span>Courses</span>
                </a>
                <a href="{% url 'student_list' %}" class="flex items-center space-x-3 text-gray-700 hover:bg-gray-200 p-2 rounded-lg">
                    <i class="icon-courses"></i>
                    <span>Students</span>
                </a>
               
                <a href="#" class="flex items-center space-x-3 text-gray-700 hover:bg-gray-200 p-2 rounded-lg">
                    <i class="icon-messages"></i>
                    <span>Messages</span>
                </a>
                <a href="#" class="flex items-center space-x-3 text-gray-700 hover:bg-gray-200 p-2 rounded-lg">
                    <i class="icon-settings"></i>
                    <span>Settings</span>
                </a>
          
            </nav>
            <div class="mt-10">
                <a href="{% url 'logout'%}">
                    <button class="w-full  bg-red-500 text-white py-3 px-4 rounded-lg hover:bg-red-800">
                        LOGOUT
                    </button>
                </a>   
            </div>
        </div>
        {%endif%}
   
        <!-- Main Content -->
        <div class="flex-1 p-8 bg-white shadow-md">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <footer class="text-center py-4 bg-gray-50 text-gray-600">
        <p>&copy; 2024 Music School MS. All Rights Reserved.</p>
    </footer>
    
</body>
</html>
